###### macOS ######
.DS_Store
.AppleDouble
._*
Icon?

###### Python ######
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env

###### AI-Code ######
.cursor
.vscode
.opencode

###### craton ######
craton/notebook
craton/database
tmp
craton.log
